/* VARIABLES CSS*/
:root {
  --color-principal: #f522b8;
  --color-principal-ligth: hsl(317, 91%, 55%, 20%);
  --color-secundario: #dff984;
  --color-secundario-ligth: hsl(73, 91%, 75%, 30%);
  --color-accent: #5af646;
  --background-color: #fef0f9;
  --espaciado: 16px;
  --fuente-principal: "Inter", sans-serif;
}

/* Ajustes generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  display: block;
}

body {
  background-color: var(--background-color);
  display: block;
}

button {
  outline: none;
  box-shadow: none;
}

button,
button:focus,
button:focus-visible {
  outline: none;
  box-shadow: none;
  border: none;
}

/* HEADER */
.header {
  background-color: var(--color-secundario-ligth);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5em;
}

.logo {
  height: 6.5em;
  padding: 1em;
}

.tittle-header {
  font-family: var(--fuente-principal);
  color: black;
  font-size: 2.5em;
  font-weight: 800;
}

.nav-header {
  margin-top: 1em;
  display: flex;
  gap: 2em;
}

.nav-header a {
  font-family: var(--fuente-principal);
  color: var(--color-principal);
}

.nav-header a:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
}

/* MAIN */
.main,
.contenedor-cards {
  min-height: 80vh;
  width: 90%;
  background: white;
  border-radius: 24px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 1em;
  margin: 1em auto;
}

/* FOOTER */
.footer {
  background-color: var(--color-principal-ligth);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5em;
  margin-top: 2em;
}

.footer p {
  font-family: var(--fuente-principal);
  color: black;
  font-size: 0.8em;
}

.icon-footer {
  max-width: 3em;
  padding-bottom: 0.5em;
}

/* CARDS */
.card {
  border: 2px solid var(--color-principal);
  border-radius: 16px;
  padding: 1em;
  margin: 1em;
  width: 30%;
  text-align: center;
  font-family: var(--fuente-principal);
  height: 580px;
}
.card img {
  width: 100%;
}

.card h2 {
  font-size: 1.5em;
  line-height: auto;
  margin: 0.5em 0;
  color: black;
  font-family: var(--fuente-principal);
}

.categoria {
  color: black;
  background: var(--color-principal-ligth);
  margin-bottom: 0.5em;
  font-family: var(--fuente-principal);
  font-size: 0.8em;
  font-weight: 400;
  padding: 0.2em 0.5em;
  width: fit-content;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding: 0.2em 0.8em;
  border-radius: 32px;
}

/* BOTON */
.btn-card {
  background-color: var(--color-principal);
  border: none;
  border-radius: 32px;
  padding: 0.5em 1.5em;
  margin: 1em;
  cursor: pointer;
  color: white;
  font-family: var(--fuente-principal);
  text-transform: uppercase;
  font-size: 1em;
  transition: all 0.3s ease;
}

.btn-card:hover,
.btn-card:active {
  border: 0px;
  scale: 1.2;
}

/* BOTONERA DE FILTROS */
.botonera {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1em;
  margin-bottom: 1em;
}

.filtros button {
  color: black;
  font-family: var(--fuente-principal);
  font-size: 1em;
  text-transform: uppercase;
  background-color: transparent;
  font-weight: 700;
}

.filtros button:hover,
.filtros button.activo {
  text-decoration: underline;
  text-underline-offset: 4px;
  border: transparent;
}

/* ----- MEDIAS QUERIES ----- */
/*MOBILE */
@media (max-width: 768px) {
  .main,
  .contenedor-cards {
    flex-direction: column;
    padding: 1em;
    margin: 1em auto;
  }

  .card {
    width: 80%;
    margin: 1em auto;
    height: auto;
  }
}

/* TABLET */
@media (min-width: 768px) and (max-width: 1024px) {
  .card {
    width: 45%;
    margin: 1em auto;
    height: 560px;
  }
}
