/* VARIABLES CSS*/
:root {
  --color-principal: #f522b8;
  --color-principal-ligth: hsl(317, 91%, 55%, 20%);
  --color-secundario: #dff984;
  --color-secundario-ligth: hsl(73, 91%, 75%, 30%);
  --color-accent: #5af646;
  --background-color: #fef0f9;
  --espaciado: 16px;
  --fuente-principal: "Inter", sans-serif;
}

/* Ajustes generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  display: block;
}

body {
  background-color: var(--background-color);
  display: block;
}

/* HEADER */
.header {
  background-color: var(--color-secundario-ligth);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5em;
}

.logo {
  height: 6.5em;
  padding: 1em;
}

.tittle-header {
  font-family: var(--fuente-principal);
  color: black;
  font-size: 2.5em;
  font-weight: 800;
}

.nav-header {
  margin-top: 1em;
  display: flex;
  gap: 2em;
}

.nav-header a {
  font-family: var(--fuente-principal);
  color: var(--color-principal);
}

.nav-header a:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
}

/* MAIN */
.main {
  min-height: 80vh;
  width: 90%;
  background: white;
  border-radius: 24px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 1em;
  margin: 1em auto;

}

/* FOOTER */
.footer {
  background-color: var(--color-principal-ligth);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5em;
  margin-top: 2em;
}

.footer p {
  font-family: var(--fuente-principal);
  color: black;
  font-size: 0.8em;
}

.icon-footer {
  max-width: 3em;
  padding-bottom: 0.5em;
}

/* CARDS */

.card {
  border: 2px solid var(--color-principal);
  border-radius: 16px;
  padding: 1em;
  margin: 1em;
  width: 30%;
  text-align: center;
  font-family: var(--fuente-principal);

}
.card img {
  width: 100%;
}


@media (max-width: 768px) {
  .main {
    padding: 0em;
    margin: 0em auto;
  }
}